@media(max-width:770px) {


    .welcome__block {
        width: 100vw;
        height: 100vh;
        padding-top: 80px;
        justify-content: flex-start;
    }
    .form__block {
        margin-top: 50px;
    }
    .button-info__block {
        margin-top: 80px;
    }
    .legal-info__block {
        margin-top: 40px;
    }
}