html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
}
p {
    margin: 0;
}

ul,li {
    margin: 0;
    padding: 0;
    list-style:none;
}
a {
    text-decoration: none;
}
input {
    outline: none;
    background: transparent;
    border: none;
}

button {
    background: none;
    border: none;
    outline: none;
}